@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
  overflow-x: hidden;
}
body
{
    font-family: 'Poppins', sans-serif;
    /* background-image: url(assets/banner/4.jpg.jpg); */

}

#home{
background-image: url("assets/bright-positive-fashion-studio-portrait-young-girl-with-nude-lips-bright-make-up-stylish-trendy-outfit-pink-skirt-smart-casual.jpg");
width: 100%;
height: 100vh;
background-size: cover;
background-position: top 60px pxcenter;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;

}
button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    cursor: pointer;
    padding: 13px 30px;
    text-transform: uppercase;
    transition: 0.3s ease;
    }

.carousel-button{
  font-size: 10px;
  /* font-weight: unset; */
  /* outline: unset; */
  /* border: unset; */
  background-color: unset;
  color: #000;
  cursor: pointer;
  padding: unset  ;
  text-transform: unset;
  transition: unset;
}
button:hover{
        background-color: #3A3833;
    }
    
    .star i{
      font-size: 0.8rem;
      color: goldenrod;
     }
     .star{
      padding: 10px 0;
  
     }
   hr{
    width: 30px;
    height: 2px;
    background-color: #fb774b;
    text-align: center;
   } 

#new .one img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;

  }
  #new .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
  }
  

  #new .one:hover .details{
    cursor: pointer;
    background-color: rgba(245,178,178,0.7);
 }
 #new .one .details button{
    display: inline;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    text-transform: uppercase;
    border-bottom: 1px solid #3A3833;
    padding: relative;
    transform: translateY(70px);
    transition: 0.3s ease;
    justify-content: center;
    align-items: center;
}
#new .one .details button:hover{
    color:#fff;
    border-bottom: 1px solid #fff;
}  

#new .one:nth-child(1).details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#new .one:nth-child(2).details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
#new .one:nth-child(3).details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-weight: 600;
    font-size: 1.8rem;
}
h3{
    font-size: 1.4rem;
    font-weight: 800;
}
h4{
    font-size: 1.1rem;
    font-weight: 600;
    justify-content: center;
}
h5{
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}
/* navigation */
.navbar{
    font-size: 16px;
    color:#1d1d1d;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}


.navbar-light .navbar-nav .nav-link{
    padding: 0 20x;
    color: black;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link .active
.navbar i .active{
color: coral;
}

.nav-link{
  color: #000
}

.nav-link:hover{
  color: coral;
}

.nav-item > .active{
  color: coral;
}

.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    font-weight: 500;
    transition: 0.3s ease;
}

#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: black;
}

#bar:hover,
#bar .active{
    color: #fff;
}

@media only screen and (max-width: 991px) {
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color: white;
    }
    body > nav > div > button:hover #bar,
    body > nav > div > button:focus #bar{
        color: white;   
}}

#navbarSupportedContent > ul {
margin: 1rem;
justify-content: flex-end;
text-align: right;
}
#navbarSupportedContent > ul > li:nth-child(n) > a{
    padding: 10px 0;
}

  /* Mobile Nav */
.navbar-light .navbar-toggler{
border:none;
outline: none;
  }
@media only screen and (max-width:1000px){
  .categorysort ul {
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom:25px;
    padding-left: 25px;
}

.categorysort li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(219, 40, 40, 0.132);
    font-size: 15px;
    font-weight: 500;
    height: 45px;
}

.categorysort li button {
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    background: #fb774b;
}

.categorysort li button:focus {
    background-color: black;
    border-radius: 2px;
}
}
  .categorysort ul {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom:25px;
}

.categorysort li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(219, 40, 40, 0.132);
    font-size: 15px;
    font-weight: 500;
    height: 45px;
}

.categorysort li button {
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    background: #fb774b;
}

.categorysort li button:focus {
    background-color: black;
    border-radius: 2px;
}
  /* Products */

  .product{
    cursor: pointer;
    margin-bottom: 2rem;
  }
  .product img{
    transition: 0.3s all;
  }
  .product:hover img{
    opacity: 0.7;
  }
  .product .buy-btn{
    background: #fb774b;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
  }
  .product:hover .buy-btn{
    transform: translateY(0);
    opacity: 1;

  }
  #banner{
background-image: url("assets/banner/2.jpg");
width: 100%;
height: 60vh;
background-size: cover;
background-position: top 70px center;
background-attachment: fixed;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
  }
  #banner h4{
    color: #d8d8d8;
  }
  #banner h1{
    color: #fff;
  }
  #banner button{
    background-color: #fb774b;
  }
  /* Shipping card */
  .shippingcard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
  }
  
  .ship{
    display: flex;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.233);
    height: 100%;
    margin: 1px;
    padding: 50px;
  }
  
  .ship div h6 {
    font-size: 15px;
    font-weight: 500;
    font-family: monospace;
  }
  
  .ship i {
    color: red;
    
  }
  
  .ship p {
    font-size: 14px;
  }
  
  @media only screen and (max-width: 900px){
    .shippingcard {
      display: table;
      align-items: center;
      justify-content: center;
      height: 150px;
      width: 100%;
      margin: 50px 0px 100px;
      padding: 10px 55px;
    }
    
    .ship{
      display: block;
      align-items: center;
      background-color: rgba(128, 128, 128, 0.233);
      height: 100%;
      margin: 8px;
      padding: 0px 15px;
      width: auto;
    }
    .ship i {
      color: red;
      /* display: table-caption; */
      
    }
    .ship div h6 {
      font-size: 15px;
      font-weight: 500;
      font-family: monospace;
    }
    .ship p {
      font-size: 13px;
    }
  }

/* Blogs Section */
#left-slide , #right-slide{
  height: 30px;
  width: 25px;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 2px;
  font-size: 55px;
  opacity: 0.7;
  transition: 0.3s ease;
}

#left-slide{
  margin-right: 25px;
}

#right-slide{
  margin-left: 25px;
}

.blog {
  height: 250px;
  width: 350px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  border-radius: 5px;
}

.blog:hover{
  transform: scale(1.15);
  transition: 0.4s ease;
}

.blogtext{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 35px 20px;
  opacity: 0;
}

.blog h4{
  font-size: 25px;
  padding: 0px 15px;
}
.blog p{
  padding: 15px;
}
.blog a{
  padding: 15px;
  color: red;
}

.blog a:hover{
  opacity: 0.5;
}

#blog1 {
  background-image: url('assets/blog/1.jpg');
  background-repeat: no-repeat;
  background-size: 450px 400px;
}

#blog2 {
  background-image: url('assets/blog/2.jpg');
  background-repeat: no-repeat;
  background-size: 450px 400px;
}

#blog3 {
  background-image: url('assets/blog/3.jpg');
  background-repeat: no-repeat;
  background-size: 450px 400px;
}

#blog4 {
  background-image: url('assets/blog/4.jpg');
  background-repeat: no-repeat;
  background-size: 450px 400px;
  
}
#blog5{
  background-image: url('assets/blog/5.jpg');
  background-repeat: no-repeat;
  background-size: 450px 400px;
}
#blog6{
  background-image: url('assets/blog/6.jpg');
  background-repeat: no-repeat;
  background-size: 450px 400px;
}

.blogtext:hover{
  transition: 0.3s ease;
  opacity: 0.8;
  transform: scale(1.1);
}

/* @media only screen and (max-width:700px){
  #new .one img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    padding: 1px 1px 1px;
    display: table;

  }
  #new .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
    display: table-caption;
  }
  

  #new .one:hover .details{
    cursor: pointer;
    background-color: rgba(245,178,178,0.7);
 }
 #new .one .details button{
    display: inline;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    text-transform: uppercase;
    border-bottom: 1px solid #3A3833;
    padding: relative;
    transform: translateY(70px);
    transition: 0.3s ease;
    justify-content: center;
    align-items: center;
}
#new .one .details button:hover{
    color:#fff;
    border-bottom: 1px solid #fff;
}  

#new .one:nth-child(1).details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#new .one:nth-child(2).details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
#new .one:nth-child(3).details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}
} */

footer{
  background-color: #222;
}
footer h5{
  color: #d8d8d8;
  font-weight: 700;
  font-size: 1.2rem;
}
footer li{
  padding-bottom: 4px;
}
footer li a{
font-size: 0.8rem;
color: #999;
}

footer h6{
  color: #d8d8d8;
}
footer li a:hover{
  color: #d8d8d8;
}
footer p{
  color:#999;
  font-size: 0.8rem;
}
footer .copyright a{
  color: white;
  width: 38px;
  height: 38px;
  background-color: black;
  display: inline;
  text-align: center;
  line-height: 38px;
  transition: 0.3s ease;
  margin: 0 5px;
}

footer .copyright a:hover{
  color: white;
  background-color: #fb774b;

}

/* blog */
#blog-container .post:hover img{
  transform: scale(1.3) rotate(-10deg);
  opacity: 0.8;
}

#blog-container .post img{
  transition: 0.3s ease;
}
#blog-container .post .post-img{
  overflow: hidden;
  cursor: pointer;
}
#blog-container .post:hover h3{
  transition: 0.3s ease;
  cursor: pointer;
}
#blog-container .post:hover h3{
  color: #fd8c66;
}
/* add to cart */
#cart-container{
  overflow-x: auto;
}
#cart-container table{
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}

#cart-container table thead{
  font-weight: 700;
  box-shadow: #333333;
}

#cart-container table thead td{
  background-color: #fd8c66;
  color: #fff;
  border: none;
 padding: 6px 0;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

#cart-container table td{
  border: 1px solid #b6b3b3;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#cart-container table td:nth-child(1){
  width: 100px;
  /* height: max-content; */
}
#cart-container table td:nth-child(2)
{
  width: 170px;
  /* height: max-content; */
}
#cart-container table td:nth-child(3),
#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5){
  width: 140px;
  /* height: max-content; */
}
#cart-container table td:nth-child(6){
  width: 100px;
  /* height: max-content; */
}

#cart-container table tbody img{
  width: 100%;
  height: 60%;
  object-fit: cover;
}


#cart-bottom .coupon>div,
#cart-bottom .tot>div{
  border: 1px solid #b6b3b3 ;
}

#cart-bottom .coupon h5
{
  background-color: #fd8c66;
  color: #fff;
  border: none;
 padding: 6px 12px;
 font-weight: 700;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

#cart-bottom .coupon p,
#cart-bottom .coupon input{
  padding: 0 12px;
}

#cart-bottom .coupon input{
  height: 44px;
}

#cart-bottom .coupon input{
  margin: 0 0 20px 12px;
}
#cart-bottom .tot h5
{
  background-color: #fd8c66;
  color: #fff;
  border: none;
 padding: 6px 12px;
 font-weight: 700;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
#cart-bottom .tot div>div{
  padding: 0 12px;
}

.second-hr{
  background: #b8b7b3;
  width: 100%;
  height: 1px;
}
#cart-bottom .tot div>button{
  margin: 0 12px 20px 0;
  /* display: flex; */
/* justify-content: flex-end; */
}
#cart-bottom .tot div>a{
  margin: 0 0px 20px 12px;
  /* display: flex; */
/* justify-content: flex-end; */
}
@media only screen and (max-width:1000px){
  #checkout1{
    tab-size: 2;
    display: table;
    float: left;
  }
  #continueshop{
    display: table-caption;
    margin-left: 0;
    /* width: 80%; */
  }
}
/* carousel blogs */
.box{
	width:300px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
	margin: 25px;
}
.slide-img{
	height: 450px;
	position:relative;
}
.slide-img img{
	width:100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}
.detail-box{
	width: 100%;
display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
	font-family: calibri;
}
.type{
	display: flex;
	flex-direction: column;
}
.type a{
	color:#222222;
	margin: 5px 0px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding-right: 8px;
}
.type span{
	color:rgba(26,26,26,0.5);
}
.price{
	color: #333333;
	font-weight: 600;
	font-size: 1.1rem;
	font-family: poppins;
	letter-spacing: 0.5px;
}
.overlay{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:100%;
	height: 100%;
	background-color: rgba(92,95,236,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}
.buy-btn{
	width:160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	color:#252525;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.buy-btn:hover{
	color:#FFFFFF;
	/* background-color: #f15fa3; */
	transition: all ease 0.3s;
}
.overlay{
	visibility: hidden;
}
.slide-img:hover .overlay{
	visibility: visible;
	animation:fade 0.5s;
}
 

.slider{
	width:100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

table{
  border-color: #d8d8d8;
  border: none;
}
tr:hover {background-color:#f2f3f5}
tr, td{
  
    /* border-style: solid; */
    border: 1px solid black;
    border-collapse: collapse;
}
table, tr,td {
  border: 1px solid black;
  /* border-collapse: collapse; */
}


.plus{
  width: 10%;
  cursor: pointer;
  border: none;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 0;
}